# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore data and logs
Phase_1_Data/
Phase_2_Data/
Phase_3_Data/
Phase_4_Data/
Phase_5_Data/
Log_Debug/
